body * {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial,  sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.padding-50 {
    padding: 50px;
}

.bground-light {
    background-color: #fff;
}

.bground-gray {
    background-color: #f5f5f5;
}

.bground-dark {
    background-color: #445161;
}

.color-light {
    color: #fff;
}

.color-dark {
    color: #445161;
}

.page-wrapper {
    width: 1280px;
    margin: 0 auto;
    border: 1px solid #bcb5b9;
}

.page-heading {
    font-size: 59px;
    font-weight: normal;
    line-height: 1;
}

.header-list {
    margin-top: 24px; /*не нашел в макете отсутп между заголовком и списком, вычислил исходя из высоты header*/
    list-style: none;
    font-size: 20px;
    line-height: 1.8;
}

.header-list li::before {
    content: "\2714"; /*https://www.toptal.com/designers/htmlarrows/symbols/heavy-check-mark/*/
    display: inline-block;
    width: 36px;
    margin-right: 5px;   
}

.page-header img {
    background-color: #fff; /* заглушка для картинки  */
}

/* About Product */

.aboutProduct{
    display: flex;
    justify-content: space-between;    
}

.aboutProduct-text-wrapper {
    width: 653px;
}

.section-heading { /*будет использоваться для всех заголовков в секциях*/
    font-size: 30px;
    font-weight: normal;
    line-height: 1.2;
    text-align: center;
}

.aboutProduct-content h2 {
    text-align: left;
}

.aboutProduct-content p {
    margin-top: 20px;
}

/* Dignity and pluses product */

.dignity-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dignity-list li {
    width: 567px;
    box-sizing: border-box;
    margin-top: 30px;
    padding-left: 40px;
    list-style: none;
    background:  url(../img/plus-list.png) no-repeat 0px 4px;
}









/*Footer*/

.copyright {
    font-size: 12px;
    line-height: 26px;;
    letter-spacing: 0.3px;
    text-align: center;
}